<html>
    <body>
    <div id="chessboard_placement">
        <table id="chessboard">
            <tr>
                <td class="border"></td>
                    {{#chessboard_setupBorderAscii 65 1 7}}
                        <td class="border">{{this}}</td>
                    {{/chessboard_setupBorderAscii}}
                <td class="border"></td>
            </tr>

            {{#chessboard_setupBorderAscii 56 -1 7}}
            <tr>
                <td class="border">{{this}}</td>
                {{#chessboard_setupBorderAscii 97 1 7}}
                <td data-coordinate_x="{{this}}" data-coordinate_y="{{../this}}" class="{{chessboard_setupBlackOrWhiteClass 'squareB' 'squareW' this ../this }} chessCell">
                    {{#with (lookup @root.gamePieces (chessboard_appendTwoStr this ../this)) as |gamePiece|}}
                        <img data-piece_id="{{gamePiece.pieceId}}" data-piece_name="{{gamePiece.name}}" data-piece_faction="{{gamePiece.faction}}" class="chessPiece" src="images/{{gamePiece.faction}}{{gamePiece.name}}.png">
                    {{/with}}
                </td>
                {{/chessboard_setupBorderAscii}}
                <td class="border">{{this}}</td>
            </tr>
            {{/chessboard_setupBorderAscii}}
            <tr>
                <td class="border"></td>
                    {{#chessboard_setupBorderAscii 65 1 7}}
                        <td class="border">{{this}}</td>
                    {{/chessboard_setupBorderAscii}}
                <td class="border"></td>
            </tr>
        </table>
    </div>
    <div id="container-chat"> Chat
        <div class="col-md-4">
            <div class="well">
                <h3>Online Users</h3>
                <ul class="list-group" id="users"></ul>
            </div>
        </div>
        <div class="chat-box">
            <div class="chat" id="gameChat"></div>
        </div>
        <form class="send-message" id="gameMessageForm" method="post" action="/games/{{gameId}}/message" >
            <div class="form-group">
                <label for="message"></label>
                <input type="text" class="form-control" id="gameMessage"
                       placeholder="Enter message" name="gameMessage" autocomplete="off">
                <br/>
                <button type="submit" class="btn btn-primary" value="Send Message">Send Message</button>
            </div>
        </form>
    </div>
    </body>
    <script src="/js/handlers/chessboard.js"></script>
    <script src="/js/games.js"></script>
    <script src="/js/gamesSocket.js"></script>
</html>