<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <style>
        .col-4 {
            position: fixed;
            right: 0;
            bottom: 0;
        }

        .col-3 {
            border: 1px solid #1b1e21;
            border-radius: 3px;
        }
    </style>
</head>

<body>

<div class="container-fluid">

    <!-- display chessboard -->
    <div class="row">
        <div class="col-6">
            <table id="chessboard">
                <tr>
                    <td class="border"></td>
                    {{#chessboard_setupBorderAscii 65 1 7}}
                        <td class="border">{{this}}</td>
                    {{/chessboard_setupBorderAscii}}
                    <td class="border"></td>
                </tr>

                {{#chessboard_setupBorderAscii 56 -1 7}}
                    <tr>
                        <td class="border">{{this}}</td>
                        {{#chessboard_setupBorderAscii 97 1 7}}
                            <td id="{{this}}{{../this}}"
                                class="{{chessboard_setupBlackOrWhiteClass 'squareB' 'squareW' this
                                                                           ../this }} chessCell">
                                {{#with (lookup @root.gamePieces (chessboard_appendTwoStr this ../this)) as |gamePiece|}}
                                    <img class="piece" src="images/{{gamePiece.faction}}{{gamePiece.name}}.png"
                                         style="width:70px;height:60px;">
                                {{/with}}
                            </td>
                        {{/chessboard_setupBorderAscii}}
                        <td class="border">{{this}}</td>
                    </tr>
                {{/chessboard_setupBorderAscii}}
                <tr>
                    <td class="border"></td>
                    {{#chessboard_setupBorderAscii 65 1 7}}
                        <td class="border">{{this}}</td>
                    {{/chessboard_setupBorderAscii}}
                    <td class="border"></td>
                </tr>

            </table>
        </div>
        <!-- end of chessboard -->
        <br>

        <!-- display user piece movement -->
        <div class="col-3">
            <p> display pieces moves here....</p>
        </div>


        <!--display chat & message box -->
        <div class="col-4">
            <div id="container-chat"> Chat
                <hr>
                <div class="chat">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="well">
                                <!--<h3>Online Users</h3> -->
                                <ul class="list-group" id="users"></ul>
                            </div>
                        </div>
                        <div class="chat-box">
                            <div class="chat" id="gameChat"></div>
                        </div>
                    </div>
                </div>
                <form class="send-message" id="gameMessageForm" method="post" action="/games/{{gameId}}/message">
                    <div class="input-group">
                        <label for="message"></label>
                        <input type="text" class="form-control" id="gameMessage"
                               placeholder="enter message here..." name="gameMessage" autocomplete="off">
                        <button type="submit" class="btn btn-primary" value="Send">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End of chat & messages box-->

        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="panel panel-default">
                        <div class="panel-body">Message: connect/disconnect</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <form class="" id="" method="" action="" style="left:500px">
                        <div class="input-group">
                            <button type="submit" class="btn btn-info btn-md" value="" style="left:0px">Draw</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-1">
                    <form class="" id="" method="" action="">
                        <div class="input-group">
                            <button type="submit" class="btn btn-danger btn-md" value="">Forfeit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- End of container class-->

</body>

<script src="/js/handlers/chessboard.js"></script>
<script src="/js/games.js"></script>
<script src="/js/gamesSocket.js"></script>
<script>
    let url = window.location.toString();
    if (url.indexOf("?") > 0) {
        let clearUrl = url.substring(0, url.indexOf("?"));
        window.history.replaceState({}, document.title, clearUrl);
    }
</script>

</html>