<html>
    <body>
    <table id="chessboard">
        <tr>
            <td class="border"></td>
                {{#chessboard_setupBorderAscii 65 1 7}}
                    <td class="border">{{this}}</td>
                {{/chessboard_setupBorderAscii}}
            <td class="border"></td>
        </tr>

        {{#chessboard_setupBorderAscii 56 -1 7}}
        <tr>
            <td class="border">{{this}}</td>
            {{#chessboard_setupBorderAscii 97 1 7}}
            <td id="{{this}}{{../this}}" class="{{chessboard_setupBlackOrWhiteClass 'squareB' 'squareW' this ../this }} chessCell"></td>
            {{/chessboard_setupBorderAscii}}
            <td class="border">{{this}}</td>
        </tr>
        {{/chessboard_setupBorderAscii}}
        
        <tr>
            <td class="border"></td>
                {{#chessboard_setupBorderAscii 65 1 7}}
                    <td class="border">{{this}}</td>
                {{/chessboard_setupBorderAscii}}
            <td class="border"></td>
        </tr>

    </table>
    </body>
    <script src="/js/handlers/chessboard.js"></script>
    <script src="/js/games.js"></script>
</html>