<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <style>
        h5 {
            text-align: center;
        }
        .col-4 {
            position: fixed;
            right: 0;
            bottom: 0;
        }
    </style>
</head>

<body>

<!-- display buttons, chessboard, chatroom in row & column -->
<!-- display body in container class-->

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">


        </div>

        <div class="col-sm-6">
            <h5> Hello <strong>{{username}}!</strong></h5>
            <h5> Welcome to Chess Game!</h5><br><br>
            <div id="container-game-list" style="text-align: center"> Games
                <hr>
                <div class="row" style="margin-left: 100px">
                    <div class="games-list">
                        {{#each rejoin}}
                            <form method="get" action="/games/{{id}}">
                                <div class="list">Game #{{id}}
                                    <input type="submit" class="btn btn-info" value="Rejoin"/>
                                </div>
                            </form>
                        {{/each}}
                    </div>
                    <div class="row" style="margin-left: 50px">
                        <div class="games-list">
                            {{#each game}}
                                <form method="get" action="/games/{{id}}">
                                    <div class="list">Game #{{id}}
                                        <input type="submit" class="btn btn-primary" value="Join"/>
                                    </div>
                                </form>
                            {{/each}}
                            <div class="list" id="gamesList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div id="container-chat"> Chat Room
                <hr>
                <div class="chat">
                    <div class="row">
                        <div class="chat-box">
                            <div class="chat" id="lobbyChat"></div>
                        </div>

                    </div>
                </div>
                <form class="send-message" id="LobbyMessageForm" method="post" action="/message">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm chat_input" id="lobbyMessage"
                               placeholder="enter message here..." name="message" autocomplete="off"/>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <p hidden id="lobbyUser">{{username}}</p>

    </div>
</div>

<script src="/js/indexSocket.js"></script>

</body>
</html>
