<div class="container-fluid">
    <div class="row">
        <div class="sidebar-sticky col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 d-none d-md-block bg-light" style="padding-top: 64px;">

            <!-- CHAT BOX -->
            <div class="card h-100">
                <div class="card-header">
                    <p>Lobby Chat</p>
                </div>
                <div class="card-body" style="overflow-y: scroll">
                    <!--<h5 class="card-title">Dark card title</h5>-->
                    <p id="hiddenName" hidden>{{playerName}}</p>
                    <p id="hiddenFaction" hidden>{{playerFaction}}</p>
                    <div>
                        <div id="chatDisplay">

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form class="send-message" id="chatMessageForm" method="post" action="/message">
                        <div class="input-group">
                            <label for="message"></label>
                            <input type="text" class="form-control" id="chatMessage"
                                placeholder="enter message here..." name="chatMessage" autocomplete="off">
                            <button type="submit" class="btn btn-primary" value="Send">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        
        <!-- MAIN CONTENT -->
        <main role="main" class="col ml-sm-auto px-4" style="padding-top: 64px;">
            <div class="row">
                <div class="col">
                    <h1 class="text-center font-weight-bold">Available Games</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <h2 class="text-center">Rejoin</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {{#each rejoinableGames}}
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <p>Game #{{id}}</p>
                                        </div>
                                        <div class="card-body">

                                        </div>
                                        <div class="card-footer">
                                            <form method="get" action="/games/{{id}}">
                                                <div class="list">Game #{{id}}
                                                    <input type="submit" class="btn btn-info" value="Rejoin"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col">
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <h2 class="text-center">Join</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {{#each idleGames}}
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <p>Game #{{id}}</p>
                                        </div>
                                        <div class="card-body">

                                        </div>
                                        <div class="card-footer">
                                            <form method="get" action="/games/{{id}}">
                                                <div class="list">Game #{{id}}
                                                    <input type="submit" class="btn btn-primary" value="Join"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>     
    </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/chat.css"/>
<script src="/js/chatSocket.js"></script>